* {
  margin: 5px;
  box-sizing: border-box;
}

html {
  background-color: hsl(257, 40%, 49%);
  background-image: url("https://assets.codepen.io/12084176/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: ;
  margin: 0 auto;
  max-width: 90rem;
  max-height: 50rem;
  overflow: auto;
}
body {
  height: 95vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  flex: 1;
}
header {
  margin-left: 2vw;
  padding: 1.5em 0 1.5em 0;
  text-align: left;
}
header img {
  max-width: clamp(50%, 4vh, 100%);
  
  
}
.left {
  flex: 1 1 100px;
}

.left img {
  max-width: 100%;
  max-height: 100%;
}

.right {
  padding: 2em 0 2em 0;
  flex: 1 1 100px;
  text-align: left;
  max-width: 520px;
  min-height: auto;
 
}

footer {
  padding: 1em 2.5% 2.5em 0;
  text-align: right;
 
}

h1 {
  font-family: poppins;
  color: hsl(0, 0%, 100%);
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

p {
  font-family: "Open Sans";
  color: rgba(212, 196, 239, 255);
  font-size: 1.15rem;
}

.register {
  border: none;
  margin-top: 4%;
  text-align: center;
  width: clamp(12.5rem, 5vw, 12.5rem);
  height: 3.75rem;
  border-radius: 1.875rem;
  font-family: "Open Sans";
  color: rgba(127, 111, 180, 255);
  text-decoration: none;
  font-size: clamp(1rem, 5vw, 1.3rem);
  box-shadow: 0.3em 0.3em 1em rgb(0 0 0 / 50%);
}
button:hover {
  background-color: hsl(300, 69%, 71%);
  color: rgba(253, 223, 253, 255);
}

.footer img {
  filter: brightness(0) invert(1);
}

.footer img:hover {
  filter: invert(44%) sepia(74%) saturate(1306%) hue-rotate(294deg)
    brightness(102%) contrast(102%);
}

@media all and (max-width: 550px) {
  .main {
    flex-direction: column;
  }

  main {
    padding: 5em 0 5em 0;
  }

  .right {
    text-align: center;
    min-width: 18.75rem;
  }

  html {
    background-image: url("https://assets.codepen.io/12084176/bg-mobile.svg");
    background-repeat: no-repeat;
    margin: auto;
    background-size: 100vw;
  }

  footer {
    text-align: center;
    padding: 1em 0 2.5em 0;
  }
}
